<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'user/css/register_page.css' %}">

    <style>
        .bottom {
            margin: 1rem 0;
        }
    </style>
</head>
<body>
    <div class="page">
        <div class="form-block">
            <div class="head">
                <p>Admin Login Form</p>
            </div>
            {% if msg %}
                <p class="msg">*{{msg}}</p>
            {% endif %}
            <div class="body">
                <form action="" method="post" novalidation>
                    {% csrf_token %}

                    {% for field in form %}
                        <p class="label">{{ field.label }}</p>
                        <p class="field">{{ field }}</p>
                    {% endfor %}
                    {% if error_msg %}
                        <p class="error-msg">* {{error_msg}}</p>
                    {% endif %}
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p class="error-msg">* {{error}}</p>
                        {% endfor %}
                    {% endfor %}                        
                    <input class="btn" type="submit" value="Submit">
                </form>
            </div>
            <div class="bottom">
                Restricted Area
            </div>
        </div>
    </div>
</body>
</html>